<p id="notice"><%= notice %></p>

<h1>Lists of Cocktails</h1>


  <div class="row">
    <dir class="container">
      <h3>Cocktails :</h3>
      <% @cocktails.each do |cocktail| %>

          <div><%= cocktail.name %></div>
          <span><%= link_to 'Show', cocktail , {class: "btn btn-primary"}%></span>

          <span><%= link_to 'Edit', edit_cocktail_path(cocktail), {class: "btn btn-primary"} %></span>

          <span class="btn btn-danger" style="color: white;"><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    </dir>
  </div>

<br>

<%= link_to 'New Cocktail', new_cocktail_path %>
