<h1><%= @cocktail.name %></h1>
<ul>
<% @cocktail.doses.each do |dose|%>
<li>
  <%= dose.description %> | <%= dose.ingredient.name %> | <%= link_to "destroy", dose_path(dose), method: :delete %>
</li>
<% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.select :unity, collection: %w(gr. cl. l.) %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.submit %>
<% end %>
